<div class="sidebar">

    <!-- User Section -->
    <div class="sidebar-top">

        
        <nav class="menu">

            <button class="menu-item" routerLink="/raise-query">

                <i class="fa-regular fa-circle-question"></i>

                <span>Raise Query</span>

            </button>

            <button class="menu-item" routerLink="/feedback">

                <i class="fa-regular fa-pen-to-square"></i>

                <span>Feedback</span>

            </button>

        </nav>

        <button class="create-btn" routerLink="/create-blog">

            <i class="fa-solid fa-circle-plus"></i>

            Create my Blog

        </button>

    </div>

    <!-- Bottom -->

    <div class="sidebar-bottom">

       

        <button class="bottom-item" routerLink="/topup">

            <i class="fa-solid fa-plus"></i>

            <span>Top-Up</span>

        </button>
         <button class="bottom-item" routerLink="/guidlines">

            <i class="fa-solid fa-shield-halved"></i>

            <span>Community guidlines</span>

        </button>

     

    </div>

</div>

