<div class="user-dashboard">




<!-- =====================================================
     PROFILE HEADER
====================================================== -->
<section class="profile-section">
<!-- =====================================================
     FLOATING HOME NAVIGATION
====================================================== -->

<div class="home-navigation">

  <button
    type="button"
    class="home-nav-btn"
    (click)="goBack()"
    aria-label="Go back to home"
  >

    <span class="home-nav-icon">

      <i class="fas fa-arrow-left"></i>

    </span>
  </button>

</div>






<div class="profile-header">

  <!-- ==========================================
       PROFILE INITIAL
  =========================================== -->

  <div class="profile-initial">

    {{ getUserInitial() }}

  </div>


  <!-- ==========================================
       PROFILE DETAILS
  =========================================== -->

  <div class="profile-details">

    <h1>

      {{ profile?.userName || username }}

    </h1>


    <p>

      Welcome back to your dashboard

    </p>


    <span
      class="profile-email"
      *ngIf="profile?.email"
    >

      {{ profile?.email }}

    </span>

  </div>

</div>



    <!-- ========================================
         UPDATE PROFILE BUTTON
    ========================================= -->

    <button
      class="edit-profile-btn"
      routerLink="/update-profile">

      <i class="fa-solid fa-pen"></i>

      Update Profile

    </button>

  </section>



  <!-- ==========================================
       DASHBOARD HEADING
  =========================================== -->

  <div class="dashboard-heading">


    <div>

      <h2>
        Your Dashboard
      </h2>

      <p>
        Manage your blogs, profile and account activity.
      </p>

    </div>


  </div>



  <!-- ==========================================
       DASHBOARD CARDS
  =========================================== -->

  <section class="dashboard-cards">


    <!-- ========================================
         MY BLOGS
    ========================================= -->

    <div class="dashboard-card">


      <div class="card-icon">

        <i class="fa-solid fa-file-lines"></i>

      </div>


      <div class="card-content">

        <p class="card-label">
          My Blogs
        </p>

        <h3>
          0
        </h3>

        <span>
          Blogs created
        </span>

      </div>

    </div>



    <!-- ========================================
         PAYMENTS
    ========================================= -->

    <div class="dashboard-card">


      <div class="card-icon">

        <i class="fa-solid fa-globe"></i>

      </div>


      <div class="card-content">

        <p class="card-label">
          My Payments
        </p>

        <h3>
          3
        </h3>

        <span>
          Payments made
        </span>

      </div>

    </div>



    <!-- ========================================
         CREDITS
    ========================================= -->

    <div class="dashboard-card">


      <div class="card-icon">

        <i class="fa-solid fa-coins"></i>

      </div>


      <div class="card-content">

        <p class="card-label">
          Credits
        </p>


        <h3>


          <!-- Loading -->

          <ng-container *ngIf="loading">

            ...

          </ng-container>


          <!-- Credits -->

          <ng-container *ngIf="!loading && profile">

            {{ profile.availableCredits }}

          </ng-container>


          <!-- Error -->

          <ng-container *ngIf="profileError && !loading">

            --

          </ng-container>


        </h3>


        <span>
          Available credits
        </span>

      </div>

    </div>

  </section>



  <!-- ==========================================
       ACCOUNT / ACTIVITY SECTION
  =========================================== -->

  <section class="account-section">


    <div class="section-header">

      <h2>
        My Activity
      </h2>

      <p>
        Manage your Activities
      </p>

    </div>



    <!-- ========================================
         FOLLOWERS
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-user"></i>

        </div>


        <div>

          <h3>
            Followers
          </h3>

          <p>
            Manage your followers and connections.
          </p>

        </div>

      </div>


      <button
        class="account-action"
        routerLink="/followers">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>



    <!-- ========================================
         FOLLOWING
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-user"></i>

        </div>


        <div>

          <h3>
            Following
          </h3>

          <p>
            Manage your following list and connections.
          </p>

        </div>

      </div>


      <button
        class="account-action"
        routerLink="/following">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>



    <!-- ========================================
         LIKED BLOGS
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-heart"></i>

        </div>


        <div>

          <h3>
            Liked Blogs
          </h3>

          <p>
            View and manage your liked blogs.
          </p>

        </div>

      </div>


      <button
        class="account-action"
        routerLink="/likedblog">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>



    <!-- ========================================
         COMMENTED BLOGS
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-comment"></i>

        </div>


        <div>

          <h3>
            Commented Blogs
          </h3>

          <p>
            View and manage your commented blogs.
          </p>

        </div>

      </div>


      <button class="account-action">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>



    <!-- ========================================
         MY REPOSTS
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-retweet"></i>

        </div>


        <div>

          <h3>
            My Reposts
          </h3>

          <p>
            View and manage your reposted content.
          </p>

        </div>

      </div>


      <button class="account-action">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>



    <!-- ========================================
         SAVED BLOGS
    ========================================= -->

    <div class="account-item">


      <div class="account-item-info">


        <div class="account-icon">

          <i class="fa-solid fa-bookmark"></i>

        </div>


        <div>

          <h3>
            Saved Blogs
          </h3>

          <p>
            View and manage your saved blogs.
          </p>

        </div>

      </div>


      <button class="account-action">

        See all

        <i class="fa-solid fa-chevron-right"></i>

      </button>


    </div>


  </section>


</div>